
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/* Differentiate characters */
.red_char{
	color: red;
}
.purple_char{
	color: purple;
}
#white_char{
	color: gray;
}
#blue_char{
	color: blue;
}
#green_char{
	color: green;
}
#orange_char{
	color: orange;
}