/* It's a line */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/* Temp global page*/
.container{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
ul{
	list-style: none;
}
/* Cool stuff */
/*Stat display*/
.ui.horizontal.list>.item:first-child, .ui.horizontal.list>.item:last-child{
	padding:0em;
}
.ui.horizontal.list > .item{
	font-size: 1.5rem;
	text-align: center;
	width: 42px;
	margin-right: 0px;
	margin-top: 5px;
	margin-left: 0px;
}


.ui.horizontal.list > .inactive.item.stat{
	color: gray;
	font-size: 1rem;
}

.ui.horizontal.list > .default.item.stat{
	color: #4C994C;
}
.ui.horizontal.list > .active.item.stat{
	color: white;
	font-size: 1.5rem;
	background-color: #3b83c0!important;
	position: relative;
	vertical-align: baseline;
	line-height: 1;
	background-color: #e8e8e8;
	border-color: #e8e8e8;
	background-image: none;
	/*padding: .6em .8em;*/
	text-transform: none;
	font-weight: 700;
	border-radius: .2857rem;
	box-sizing: border-box;
	-webkit-transition: background .2s ease;
	transition: background .2s ease;
	min-width: 2em;
	min-height: 2em;
	width: 2em;
	height: 2em;
	/*padding: .5em!important;*/
	line-height: 1em;
	text-align: center;
	border-radius: 500rem;
}

.stat.holder{
	height: 4rem;
	position: relative;
	white-space: nowrap;
}
/* Override some Semantic UI stuff*/
.ui.card{
	overflow-x: hidden;
	overflow-y: hidden;
	width: 8em;
	/*height: 10rem;*/
}


/* Differentiate characters */
.ui.dropdown .menu>.item.red_char{
	color: red;
}
.ui.dropdown .menu>.item.purple_char{
	color: purple;
}
.ui.dropdown .menu>.item.white_char{
	color: gray;
}
.ui.dropdown .menu>.item.blue_char{
	color: blue;
}
.ui.dropdown .menu>.item.green_char{
	color: green;
}
.ui.dropdown .menu>.item.orange_char{
	color: orange;
}